{
  "extends": "stylelint-config-standard",
  configFile: ".stylelintrc",
  "ignoreFiles": [
    "node_modules/**/*.css",
    "dist/*.css"
  ],
  "rules": {
    "selector-pseudo-element-colon-notation": null
  }
}
